<section id="about-us" class="top-margin">
  <div class="container" *ngIf="videoDetail">

    <div class="center wow fadeInDown">
      <h2>{{videoDetail.title}}</h2>
      <p class="lead" [innerHTML]="videoDetail.field_quotes"></p>
    </div>

    <div class="center wow fadeInDown">

      <div class="container-video">
        <iframe [src]="readYouTube(videoDetail.field_youtube_video_id)" frameborder="0" allowfullscreen class="video-video"></iframe>
      </div>

    </div>

    <div class="center wow fadeInDown" *ngIf="videoDetail.body">
      <p>&nbsp;</p>
      <p></p>
      <p>
        <p class="lead" [innerHTML]="videoDetail.body"></p>

    </div>

    <socialshare></socialshare>
  </div>
</section>