<ng-container *ngFor ="let homeBullet of homeBullets">
    <div *ngIf="homeBullet" class="col-md-4 col-sm-6 wow fadeInDown animated"  style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
        <div class="feature-wrap">
            <a routerLink="{{homeBullet.path | slice:7}}"><i class="fa {{homeBullet.field_icon_class}}"></i></a>
            <h2>{{homeBullet.title}}</h2>
            <h3>{{homeBullet.body_1}}</h3>
        </div>
    </div>
</ng-container>

