<section id="contact-info" class="top-margin">
        <div class="center">                
            <h2>How to Reach Us?</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.852396787054!2d77.28948886479868!3d8.317462802016546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04567ebca1166f%3A0x365595892899a9ec!2sSt.Fathima+matha+church%2CKallaravilai!5e0!3m2!1sen!2sin!4v1528829133358"></iframe>
                            
                        </div>
                    </div>

                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-6">
                                <address>
                                    <h5>Parish Priest</h5>
                                    <p>Our Lady of Fatima Church<br>
                                    Kallaravilai<br>
                                    Chenkodi - 629177</p>
                                    <p>KanyaKumari District <br>
                                    TamilNadu, India</p>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->

    