<section id="about-us" class="top-margin">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>First Gallary</h2>
            <div class="demo-gallery" *ngIf="imageList">

                <ul class="lightgallery firstLoad">

                    <li *ngFor="let row of imageList; let last = last" [ngClass]="triggerLightGallery(last)" class="" data-responsive="" attr.data-src="{{row.original}}"
                        attr.data-sub-html="<h4>{{title}}</h4><p>{{row.title}}</p>"
                        data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1">
                        <a href="">
                            <img class="img-responsive" src="{{row.thumb}}" alt="Thumb-1">
                        </a>

                    </li>

                </ul>

            </div>
        </div>
    </div>
</section>