.teasers-list {
    padding-left: 0;
    list-style: none;
  }

  ul {
    margin: 0 0 1.5rem;
    padding: 0 0 0 1.25rem;
  }

  .teasers-list__item:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .teaser__footer {
    margin-bottom: .5rem;
  }

  .pubdate {
    background: #e6e6e6;
    border-radius: 3px;
    color: #404040;
    display: inline-block;
    font-size: 11px;
    line-height: 2;
    padding: 0px 4px;
  }

  .content-type-label {
    font-size: .8em;
    color: #c4262e;
    text-transform: uppercase;
    font-weight: 600;
  }

  .teaser__title {
    font-size: 1.953em;
    margin-bottom: .75rem;
    margin-top: 0;
    
  }
.teaser__title a{
color: #808080;
}

.teaser__title a:hover{
color: #f36c26;
}
.teaser__body{
    text-align: justify;
}
