<section id="about-us" class="top-margin" id="ministry">
  <div class="container">

    <div class="center wow fadeInDown animated no-padding-bottom">
      <h2>Get Involved</h2><br>
    </div>

    <div *ngIf="ministies">
      <div class="portfolio-items" *ngFor="let ministry of ministies; let isOdd = odd; let isEven=even;">

        <div class="row ministry wow fadeInDown animated" *ngIf="isEven">
          <div class="col-md-5 col-sm-6 body hidden-xs">
            <h1 class="title">{{ministry.title}}</h1>
            {{ministry.field_quotes}}
            <p><br><a routerLink="{{ministry.path | slice:7}}" class="more"> Read more</a></p>
          </div>
          <div class="col-md-6 col-sm-6">
            <img class="img-responsive" src="{{baseURL+ministry.field_cover_thumbnail}}" alt="">
          </div>

          <div class="col-md-5 col-sm-6 body visible-xs">
              <h1 class="title">{{ministry.title}}</h1>
              {{ministry.field_quotes}}
              <p><br><a routerLink="{{ministry.path | slice:7}}" class="more"> Read more</a></p>
            </div>

        </div>

        <div class="row ministry wow fadeInDown animated" *ngIf="isOdd">
          <div class="col-md-6 col-sm-6">
            <img class="img-responsive" src="{{baseURL+ministry.field_cover_thumbnail}}" alt="">
          </div>
          <div class="col-md-5 col-sm-6 body">
            <h1 class="title">{{ministry.title}}</h1>
            {{ministry.field_quotes}}
            <p><br><a routerLink="{{ministry.path | slice:7}}" class="more"> Read more</a></p>
          </div>
        </div><br>


      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <socialshare></socialshare>

</section>