.ministry h1.title{
    font-weight: lighter;
}
.ministry img{
    border: 20px solid #f2f2f2;
}

.more{
    text-transform: uppercase;
    color:#808080;
}

.more:hover{
    color: #f36c26;
}

.ministry .body{
    text-align: justify;
}