<section id="about-us" class="top-margin">
  <div class="container">
    <div class="center wow fadeInDown no-padding-bottom">
      <h2>Parish News</h2>
    </div>

    <ul class="teasers-list" *ngIf="nodeList">

      <li class="teasers-list__item" *ngFor="let node of nodeList">
        <article class="teaser  " role="article">
          <footer class="teaser__footer">
            <span class="pubdate">
      <i class="fa fa-calendar"></i> {{node.created}}
  </span>
            <span class="content-type-label" *ngIf="node.field_category">
    {{node.field_category}}
  </span>
          </footer>
          <header class="teaser__header">

            <h2 class="teaser__title">
              <a routerLink="{{node.path | slice:7}}" rel="bookmark"><span>{{node.title}}</span>
</a>
            </h2>

          </header>
          <div class="teaser__content">
            <div class="teaser__body">
              {{node.body_1}}
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>